ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#navbar {
    padding: 8px 5px;
    /*background-color: rgba(52, 58, 64, 0.4);*/
    background-color: #343a40;
    transition: 0.2s;
}

#header {
    font-size: 19px;
    transition: 0.2s;
}

#logo {
    transition: 0.2s;
}

.footer-margin {
    height: 100px;
}
